[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django-taggit = "*"
django-crispy-forms = "*"
django-import-export = "*"
pillow = "*"
shortuuid = "*"
django-jazzmin = "*"

[dev-packages]

[requires]
python_version = "3.12"
