<div class="w-full space-y-6">

    <div class="widget card p-5">
        <h4 class="text-lg font-semibold"> About </h4>
        <ul class="text-gray-600 space-y-3 mt-3">
            <li class="flex items-center space-x-2">
                <ion-icon name="home-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3"></ion-icon>
                Live In <strong> {{ profile.address }}  </strong>
            </li>
            <li class="flex items-center space-x-2">
                <ion-icon name="globe" class="rounded-full bg-gray-200 text-xl p-1 mr-3"></ion-icon>
                From <strong> {{ profile.city}}, {{ profile.country}}  </strong>
            </li>
            <li class="flex items-center space-x-2">
                <ion-icon name="heart-sharp" class="rounded-full bg-gray-200 text-xl p-1 mr-3"></ion-icon>
                <strong style="margin-left: 0">{{ profile.relationship}}</strong>
            </li>
            <li class="flex items-center space-x-2">
                <ion-icon name="logo-rss" class="rounded-full bg-gray-200 text-xl p-1 mr-3"></ion-icon>
                Friends with<strong>{{ profile.friends.count}} People </strong>
            </li>
        </ul>

        {% if request.user == profile.user %}
        <a href="{% url "userauths:profile-update" %}" class="button gray mt-3 w-full"> Edit </a>
        {% endif %}
    </div>

    <div class="widget card p-5 border-t">
        <div class="flex items-center justify-between mb-4">
            <div>
                <h4 class="text-lg font-semibold"> Friends </h4>
                <p class="text-sm"> {{ profile.friends.all.count }} Friends</p>
            </div>
            <a href="#" class="text-blue-600" onclick="showFriends()" uk-switcher-item="1">See all</a>
        </div>
        <div class="grid grid-cols-3 gap-3 text-gray-600 font-semibold">
            {% for friend in profile.friends.all %}
            <a href="{% url "userauths:profile" friend.username %}">
                <div class="avatar relative rounded-md overflow-hidden w-full h-24 mb-2">
                    <img src="{{ friend.profile.image.url }}" alt="" class="w-full h-full object-cover absolute">
                </div>
                <div class="text-sm truncate" style="text-align: center;"> {{ friend.profile.full_name }} </div>
            </a>
            {% endfor %}
            
        </div>
        <a href="#" class="button gray mt-3 w-full" onclick="showFriends()" uk-switcher-item="1">  See all </a>
    </div>

    <!-- Groups List-->
    <div class="widget card p-5 border-t">
        <div class="flex items-center justify-between mb-2">
            <div>
                <h4 class="text-lg font-semibold"> Groups </h4>
            </div>
            <a href="{% url "core:groups" %}" class="text-blue-600 "> See all</a>
        </div>
        <div>

            {% for group in groups %}
                {% if profile.user in group.members.all and group.visibility == "Everyone" %}

                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2 hover:bg-gray-50">
                        <a href="timeline-group.html" class="w-12 h-12 flex-shrink-0 overflow-hidden rounded-full relative">
                            <img src="{{ group.image.url }}" class="absolute w-full h-full inset-0 " alt="">
                        </a>
                        <div class="flex-1">
                            <a href="timeline-page.html" class="text-base font-semibold capitalize"> {{ group.name }}  </a>
                            <div class="text-sm text-gray-500 mt-0.5"> {{ group.members.all.count }} Followers</div>
                        </div>
                        <a href="{% url "core:group-index" group.slug %}" class="flex items-center justify-center h-8 px-3 rounded-md text-sm border font-semibold bg-blue-500 text-white">
                            View
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            

        </div>
    </div>
    <!-- Groups List End-->


</div>