{% extends "partials/base.html" %}
{% load static %}
{% load mathfilters %}

{% block content %}

<style>
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    summary::marker {
    content: ""; /* Hide the pseudo-element */
    }
</style>
    <!-- Main Contents -->
    <div class="main_content">
        <div class="mcontainer">

            <!--  Feeds  -->
            <div class="lg:flex lg:space-x-10">
                <div class="lg:w-3/4 lg:px-20 space-y-7">

                    <!-- Craete post -->
                    <div class="card lg:mx-0 p-4" uk-toggle="target: #create-post-modal">
                        <div class="flex space-x-3">
                            <img src="{{ request.user.profile.image.url }}" class="w-10 h-10 rounded-full">
                            <input placeholder="What's on your mind {{request.user|title}}?" class="bg-gray-100 hover:bg-gray-200 flex-1 h-10 px-6 rounded-full">
                        </div>
                        <div class="grid grid-flow-col pt-3 -mx-1 -mb-1 font-semibold text-sm">
                        </div>
                    </div>

                    <!-- Posts -->
                    {% include "partials/posts.html" %}
                    <!-- Posts End-->
                
                </div>
                <div class="lg:w-72 w-full">

                    <!--Birthday-->
                    {% if request.user.profile.friends >= 1%}
                    <a href="#birthdays" uk-toggle>
                        <div class="bg-white mb-5 px-4 py-3 rounded-md shadow">
                            <h3 class="text-line-through font-semibold mb-1"> Birthdays </h3>
                            <div class="-mx-2 duration-300 flex hover:bg-gray-50 px-2 py-2 rounded-md">
                                <img src="{% static 'assets/images/icons/gift-icon.png' %}" class="w-9 h-9 mr-3" alt="">
                                <p class="line-clamp-2 leading-6"> <strong> {{request.user.profile.friends.first.full_name}} </strong> have a birthday to day .
                                </p>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    <!--Birthday end-->

                    <h3 class="text-xl font-semibold"> Contacts </h3>

                    <div class="" uk-sticky="offset:80">

                        
                        <nav class="responsive-nav extanded mb-2 -mt-2">
                            <ul uk-switcher="connect: #group-details; animation: uk-animation-fade">
                                <li class="uk-active"><a class="active" href="#0">  Friends  <span> {{ request.user.profile.friends.count }} </span> </a></li>
                                <li><a href="#0">Groups </a></li>
                            </ul>
                        </nav>

                        <div class="contact-list px-2 uk-switcher" id="group-details"">
                            
                            <div class="p-1">
                            {% for friend in request.user.profile.friends.all %}
                                <a href="{% url "userauths:profile" friend.username %}">
                                    <div class="contact-avatar">
                                        <img src="{{ friend.profile.image.url }}" alt="">
                                        <span class="user_status"></span>
                                    </div>
                                    <div class="contact-username"> {{ friend.profile.full_name }}</div>
                                </a>
                                <div uk-drop="pos: left-center ;animation: uk-animation-slide-left-small">
                                    <div class="contact-list-box">
                                        <div class="contact-avatar">
                                            <img src="{{ friend.profile.image.url }}" alt="">
                                            <span class="user_status"></span>
                                        </div>
                                        <div class="contact-username"> {{ friend.profile.full_name }} </div>
                                        {% if friend.profile.friends.count <= 1 %}
                                            <p>
                                                <ion-icon name="people" class="text-lg mr-1"></ion-icon> Friend with
                                                <strong> {{ friend.profile.friends.first }} </strong> 
                                            </p>
                                        {% else %}
                                            <p>
                                                <ion-icon name="people" class="text-lg mr-1"></ion-icon> Friend with
                                                <strong> {{ friend.profile.friends.first }} </strong> and <strong> {{ friend.profile.friends.count|add:"-1" }}</strong>
                                            </p>
                                        {% endif %}
                                        <div class="contact-list-box-btns flex justify-center">
                                            <a href="{% url "core:inbox_detail" username=friend.username  %}">
                                            <button type="button" class="button primary flex-1 block mr-2">
                                                <i class="uil-envelope mr-1"></i> Send message</button></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>

                            <div class="p-1">
                                {% for group in groups %}
                                {% if request.user in group.members.all %}
                                    <a href="{% url "core:group-index" group.slug %}">
                                        <div class="contact-avatar">
                                            <img src="{{ group.image.url }}" alt="">
                                            <span class="user_status"></span>
                                        </div>
                                        <div class="contact-username"> {{ group.name }}</div>
                                    </a>
                                {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->

    <!-- birthdays modal -->
    <div id="birthdays" uk-modal>
        <div class="uk-modal-dialog uk-modal-body rounded-xl shadow-lg">
            <!-- close button -->
            <button class="uk-modal-close-default p-2.5 bg-gray-100 rounded-full m-3" type="button" uk-close></button>

            <div class="flex items-center space-x-3 mb-10">
                <ion-icon name="gift" class="text-yellow-500 text-xl bg-yellow-50 p-1 rounded-md"></ion-icon>
                <div class="text-xl font-semibold"> Today's birthdays </div>
            </div>

            {% if request.user.profile.friends >= 1%}
            <div class="space-y-6">
                <div class="sm:space-y-8 space-y-6 pb-2">
                    <div class="flex items-center sm:space-x-6 space-x-3">
                        <img src="{{ request.user.profile.friends.first.profile.image.url }}" alt="" class="sm:w-16 sm:h-16 w-14 h-14 rounded-full">
                        <div class="flex-1">
                            <div class="flex items-center justify-between mb-3">
                                <div class="text-base font-semibold"> <a href="{% url "userauths:profile" request.user.profile.friends.first.username %}">{{request.user.profile.friends.first.full_name}}</a> </div>
                                <div class="font-medium text-sm text-gray-400"> 30 years old</div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            {% endif %}
            
            </div>
        </div>
    </div>

    <!-- open chat box -->
    {% include "partials/chats_dropdown.html" %}
    <!-- open chat box end -->

    
    {% include "partials/create-post.html" %}

    
{% endblock  %}
