{% extends "partials/base.html" %}
{% load static %}

{% block content %}
        <!-- Main Contents -->
        <div class="main_content">
            <div class="mcontainer">

                <!-- Profile cover -->
                <div class="profile user-profile">

                    <div class="profiles_banner">
                        <img src="{{ profile.cover_image.url }}" alt="">
                        <div class="profile_action absolute bottom-0 right-0 space-x-1.5 p-3 text-sm z-50 hidden lg:flex">
                        </div>
                    </div>
                    <div class="profiles_content">

                        <div class="profile_avatar">
                            <div class="profile_avatar_holder">
                                <img src="{{ profile.image.url }}" alt="">
                            </div>
                            <div class="icon_change_photo" hidden>
                                <ion-icon name="camera" class="text-xl"></ion-icon>
                            </div>
                        </div>

                        <div class="profile_info">
                            <h1> {{ profile.full_name }} {% if profile.verified %} <small><i class="fas fa-circle-check" title="Verified Account"></i></small> {% endif %}</h1>
                            {% if profile.bio %}
                            <p class="text-center"> {{ profile.bio }}</p>
                            {% endif %}
                        </div>

                    </div>

                    <div class="flex justify-between lg:border-t border-gray-100 flex-col-reverse lg:flex-row pt-2">
                        <nav class="responsive-nav pl-3">
                            <ul uk-switcher="connect: #timeline-tab; animation: uk-animation-fade">
                                <li><a href="#">Timeline</a></li>
                                <li><a href="#">Friends <span>{{ profile.friends.all.count }}</span> </a></li>
                                <li><a href="#">Photos </a></li>
                                <li><a href="#">Pages</a></li>
                                <li><a href="#">Groups</a></li>
                            </ul>
                        </nav>

                        <!-- button actions -->
                        <div class="flex items-center space-x-1.5 flex-shrink-0 pr-4 mb-2 justify-center order-1 relative">

                            <!-- add friend -->
                            {% if profile.user in request.user.profile.friends.all %}
                                <a id="unfriend" data-unfriend="{{ profile.user.id }}" href="#" class="flex items-center justify-center h-10 px-5 rounded-md bg-red-600 text-white space-x-1.5 hover:text-white unfriend{{ profile.user.id }}"> 
                                    <span id="unfriend-text"><i class="fas fa-user-minus"></i> Remove </span>
                                </a>
                            {% else %}
                                {% if bool == True %}
                                    <a id="add-friend" data-friend-id="{{ profile.user.id }}" href="#" class="flex items-center justify-center h-10 px-5 rounded-md bg-red-600 text-white space-x-1.5 hover:text-white add-friend{{ profile.user.id }}"> 
                                        <span id="friend-text"><i class="fas fa-user-minus"></i> Cancel Request </span>
                                    </a>
                                    
                                    {% else %}
                                    <a id="add-friend" data-friend-id="{{ profile.user.id }}" href="#" class="flex items-center justify-center h-10 px-5 rounded-md bg-blue-600 text-white space-x-1.5 hover:text-white add-friend{{ profile.user.id }}"> 
                                        <span id="friend-text"><i class="fas fa-user-plus"></i> Add Friend </span>
                                    </a>
                                {% endif %}
                            {% endif %}

                            <!-- search dropdown -->
                            <div class="absolute right-3 bg-white z-10 w-full flex items-center border rounded-md" id="profile-search" hidden>
                                <input type="text" placeholder="Search.." class="flex-1">
                                <ion-icon name="close-outline" class="text-2xl hover:bg-gray-100 p-1 rounded-full mr-2 cursor-pointer" uk-toggle="target: #profile-search;animation: uk-animation-slide-top-small"></ion-icon>
                            </div>

                            <!-- more icon -->
                            <a href="#" class="flex items-center justify-center h-10 w-10 rounded-md bg-gray-100">
                                <ion-icon name="ellipsis-horizontal" class="text-xl"></ion-icon>
                            </a>
                            <!-- more drowpdown -->
                            <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700" uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                                <ul class="space-y-1">
                                    <li>
                                        <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                            <ion-icon name="arrow-redo-outline" class="pr-2 text-xl"></ion-icon> Share Profile
                                        </a>
                                    </li>
                                    {% if profile.user in request.user.profile.friends.all %}
                                    <li>
                                        <hr class="-mx-2 my-2 dark:border-gray-800">
                                    </li>
                                    <li>
                                        <a href="#" class="flex items-center px-3 py-2 text-red-500 hover:bg-red-50 hover:text-red-500 rounded-md dark:hover:bg-red-600">
                                            <small><ion-icon class="pr-2 text-xl fas fa-user-minus"></ion-icon></small>   Unfriend
                                        </a>
                                    </li>
                                    {% endif %}

                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="uk-switcher lg:mt-8 mt-4" id="timeline-tab">

                    <!-- Timeline -->
                    <div class="md:flex md:space-x-6 lg:mx-16">
                        <div class="space-y-5 flex-shrink-0 md:w-7/12">


                            <!-- Posts -->
                            {% include "partials/posts.html" %}
                            <!-- Posts End-->

                        </div>


                        <!-- Right Sidebar -->
                        {% include "partials/right-sidebar.html" %}
                        <!-- Right Sidebar End -->


                    </div>

                    <!-- Friends  -->
                    <div class="card md:p-6 p-2 max-w-3xl mx-auto">

                        <h2 class="text-xl font-bold"> Friends</h2>

                        <nav class="responsive-nav border-b">
                            <ul>
                                <li class="active"><a href="#" class="lg:px-2"> All Friends <span> {{ profile.friends.all.count }} </span> </a></li>
                            </ul>
                        </nav>

                        <div class="grid md:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-x-2 gap-y-4 mt-3">

                            {% for friend in profile.friends.all %}
                                {% if friend == request.user or friend in request.user.profile.friends.all %}
                                    <div class="card p-2">
                                        <a href="{% url "userauths:profile" friend.profile.user %}">
                                            <img src="{{ friend.profile.image.url }}" class="h-36 object-cover rounded-md shadow-sm w-full">
                                        </a>
                                        <div class="pt-3 px-1">
                                            <a href="{% url "userauths:profile" friend.profile.user %}" class="text-base font-semibold mb-0.5">  {{ friend.profile.full_name }} </a>
                                            <p class="font-medium text-sm">{{ friend.profile.friends.all.count }} Friend(s) </p>
                                            <a href="{% url "userauths:profile" friend.profile.user %}" class="bg-gray-200 w-full flex font-semibold h-8 items-center justify-center mt-3 px-3 rounded-md capitalize"> 
                                                View 
                                            </a>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="card p-2">
                                        <a href="{% url "userauths:profile" friend.profile.user %}">
                                            <img src="{{ friend.profile.image.url }}" class="h-36 object-cover rounded-md shadow-sm w-full">
                                        </a>
                                        <div class="pt-3 px-1">
                                            <a href="{% url "userauths:profile" friend.profile.user %}" class="text-base font-semibold mb-0.5">  {{ friend.profile.full_name }} </a>
                                            <p class="font-medium text-sm">{{ friend.profile.friends.all.count }} Friend(s) </p>


                                            {% if request.user in friend.profile.friends.all %}
                                                <a href="{% url "userauths:profile" friend.profile.user %}" class="bg-gray-200 w-full flex font-semibold h-8 items-center justify-center mt-3 px-3 rounded-md capitalize"> 
                                                    <span id="unfriend-text">View </span>
                                                </a>
                                            {% else %}
                                                {% if bool == True %}
                                                    <a id="add-friend" data-friend-id="{{ profile.user.id }}" href="#" class="w-full flex items-center justify-center h-8 mt-3 px-3 rounded-md bg-red-600 text-white hover:text-white add-friend{{ profile.user.id }}"> 
                                                        <span id="friend-text"> Cancel Request </span>
                                                    </a>
                                                    
                                                    {% else %}
                                                    <a id="add-friend" data-friend-id="{{ profile.user.id }}" href="#" class="w-full flex items-center justify-center h-8 mt-3 px-3 rounded-md bg-blue-600 text-white hover:text-white add-friend{{ profile.user.id }}"> 
                                                        <span id="friend-text"><i class="fas fa-user-plus"></i> Add Friend </span>
                                                    </a>
                                                {% endif %}
                                            {% endif %}



                                            {% comment %} {% if profile.user in request.user.profile.friends.all %}
                                                {% if bool == True %}
                                                    <button id="add-friend" data-friend-id="{{ profile.user.id }}" href="#" class="bg-red-600 w-full flex font-semibold h-8 items-center justify-center mt-3 px-3 rounded-md text-white text-sm mb-1 add-friend{{ profile.user.id }}">
                                                        <span id="friend-text">Cancel Request </span>
                                                    </button>
                                                
                                                {% else %}
                                                    <button id="add-friend" data-friend-id="{{ profile.user.id }}" href="#" class="bg-blue-100 w-full flex font-semibold h-8 items-center justify-center mt-3 px-3 rounded-md text-blue-600 text-sm mb-1 add-friend{{ profile.user.id }}">
                                                        <span id="friend-text"><i class="fas fa-user-plus"></i> Add Friend </span>
                                                    </button>
                                                {% endif %}
                                            {% endif %} {% endcomment %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            

                        </div>


                    </div>

                    <!-- Photoes  -->
                    <div class="card md:p-6 p-2 max-w-3xl mx-auto">

                        <div class="flex justify-between items-start relative md:mb-4 mb-3">
                            <div class="flex-1">
                                <h2 class="text-xl font-bold"> Photos </h2>
                            </div>
                            <a href="#offcanvas-create" uk-toggle class="flex items-center justify-center z-10 h-10 w-10 rounded-full bg-blue-600 text-white absolute right-0" data-tippy-placement="left" title="Create New Album">
                                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            </a>
                        </div>

                        <div class="grid md:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-3 mt-5">
                        {% for post in posts %}
                            {% if post.image %}
                            <div>
                                <div class="bg-green-400 max-w-full lg:h-44 h-36 rounded-lg relative overflow-hidden shadow uk-transition-toggle">
                                    <img src="{{ post.image.url }}" class="w-full h-full absolute object-cover inset-0">
                                    <!-- overly-->
                                    <div class="-bottom-12 absolute bg-gradient-to-b from-transparent h-1/2 to-gray-800 uk-transition-slide-bottom-small w-full"></div>
                                    <div class="absolute bottom-0 w-full p-3 text-white uk-transition-slide-bottom-small">
                                        <div class="text-base"> {{ post.title }} </div>
                                        <div class="flex justify-between text-xs">
                                            <a href="#">  Like</a>
                                            <a href="#">  Comment </a>
                                            <a href="#">  Share </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                        </div>


                    </div>

                    <!-- Pages  -->
                    <div class="card md:p-6 p-2 max-w-3xl mx-auto">

                        <h2 class="text-xl font-bold"> Pages</h2>
                        <nav class="responsive-nav border-b md:m-0 -mx-4">
                            <ul>
                                <li class="active"><a href="#" class="lg:px-2"> Following </a></li>
                                <li><a href="#" class="lg:px-2"> Newest </a></li>
                                <li><a href="#" class="lg:px-2"> My pages</a></li>
                                <li><a href="#" class="lg:px-2"> Suggestions</a></li>
                            </ul>
                        </nav>

                        <div class="grid md:grid-cols-4 sm:grid-cols-3 grid-cols-2 gap-4 mt-5">

                            <div class="card">
                                <a href="timeline-page.html">
                                    <img src="{% static 'assets/images/avatars/avatar-4.jpg' %}" class="h-36 object-cover rounded-t-md shadow-sm w-full">
                                </a>
                                <div class="p-3">
                                    <a href="timeline-page.html" class="text-base font-semibold mb-0.5"> John Michael  </a>
                                    <p class="font-medium text-sm">843K Following </p>
                                    <button class="bg-gray-100 w-full flex font-semibold h-8 items-center justify-center mt-3 px-3 rounded-md  text-sm">
                                        Following
                                    </button>
                                </div>
                            </div>

                        </div>


                    </div>

                    <!-- Groups  -->
                    <div class="card md:p-6 p-2 max-w-3xl mx-auto">

                        <div class="flex justify-between items-start relative md:mb-4 mb-3">
                            <div class="flex-1">
                                <h2 class="text-xl font-bold"> Groups </h2>
                                <nav class="responsive-nav style-2 md:m-0 -mx-4">
                                    <ul>
                                        <li class="active"><a href="#"> Joined <span> 230</span> </a></li>
                                        <li><a href="#"> My Groups </a></li>
                                        <li><a href="#"> Discover </a></li>
                                    </ul>
                                </nav>
                            </div>
                            <a href="create-group.html" data-tippy-placement="left" data-tippy="" data-original-title="Create New Album" class="bg-blue-100 font-semibold py-2 px-6 rounded-md text-sm md:mt-0 mt-3 text-blue-600">
                                Create       
                            </a>
                        </div>

                        <div class="uk-switcher grid md:grid-cols-2  grid-cols-2 gap-x-2 gap-y-4 mt-3" id="groups-tab">
                            
                            {% for group in groups %}
                                <div class="flex items-center flex-col md:flex-row justify-center p-4 rounded-md shadow hover:shadow-md md:space-x-4">
                                    <a href="timeline-group.html" iv="" class="w-16 h-16 flex-shrink-0 overflow-hidden rounded-full relative">
                                        <img src="{% static 'assets/images/group/group-3.jpg' %}" class="absolute w-full h-full inset-0 " alt="">
                                    </a>
                                    <div class="flex-1">
                                        <a href="timeline-page.html" class="text-base font-semibold capitalize">Graphic Design </a>
                                        <div class="text-sm text-gray-500"> 54 mutual friends </div>
                                    </div>
                                    <button class="bg-gray-100 font-semibold py-2 px-3 rounded-md text-sm md:mt-0 mt-3">
                                        Following
                                    </button>
                                </div>
                            {% endfor %}



                        </div>
                    </div>

                </div>

            </div>
        </div>


        <!-- open chat box -->
    <div uk-toggle="target: #offcanvas-chat" class="start-chat">
        <svg class="h-7 w-7" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
        </svg>
    </div>

    <div id="offcanvas-chat" uk-offcanvas="flip: true; overlay: true">
        <div class="uk-offcanvas-bar bg-white p-0 w-full lg:w-80 shadow-2xl">


            <div class="relative pt-5 px-4">

                <h3 class="text-2xl font-bold mb-2"> Chats </h3>

                <div class="absolute right-3 top-4 flex items-center space-x-2">

                    <button class="uk-offcanvas-close  px-2 -mt-1 relative rounded-full inset-0 lg:hidden blcok" type="button" uk-close></button>

                    <a href="#" uk-toggle="target: #search;animation: uk-animation-slide-top-small">
                        <ion-icon name="search" class="text-xl hover:bg-gray-100 p-1 rounded-full"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="settings-outline" class="text-xl hover:bg-gray-100 p-1 rounded-full"></ion-icon>
                    </a>
                    <a href="#">
                        <ion-icon name="ellipsis-vertical" class="text-xl hover:bg-gray-100 p-1 rounded-full"></ion-icon>
                    </a>
                    <div class="bg-white w-56 shadow-md mx-auto p-2 mt-12 rounded-md text-gray-500 hidden border border-gray-100 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700" uk-drop="mode: click;pos: bottom-right;animation: uk-animation-slide-bottom-small; offset:5">
                        <ul class="space-y-1">
                            <li>
                                <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                    <ion-icon name="checkbox-outline" class="pr-2 text-xl"></ion-icon> Mark all as read
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                    <ion-icon name="settings-outline" class="pr-2 text-xl"></ion-icon> Chat setting
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                    <ion-icon name="notifications-off-outline" class="pr-2 text-lg"></ion-icon> Disable notifications
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center px-3 py-2 hover:bg-gray-100 hover:text-gray-800 rounded-md dark:hover:bg-gray-800">
                                    <ion-icon name="star-outline" class="pr-2 text-xl"></ion-icon> Create a group chat
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>


            </div>

            <div class="absolute bg-white z-10 w-full -mt-5 lg:-mt-2 transform translate-y-1.5 py-2 border-b items-center flex" id="search" hidden>
                <input type="text" placeholder="Search.." class="flex-1">
                <ion-icon name="close-outline" class="text-2xl hover:bg-gray-100 p-1 rounded-full mr-4 cursor-pointer" uk-toggle="target: #search;animation: uk-animation-slide-top-small"></ion-icon>
            </div>

            <nav class="responsive-nav border-b extanded mb-2 -mt-2">
                <ul uk-switcher="connect: #chats-tab; animation: uk-animation-fade">
                    <li class="uk-active"><a class="active" href="#0"> Friends </a></li>
                    <li><a href="#0">Groups <span> 10 </span> </a></li>
                </ul>
            </nav>

            <div class="contact-list px-2 uk-switcher" id="chats-tab">

                <div class="p-1">
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="{% static 'assets/images/avatars/avatar-7.jpg' %}" alt="">
                        </div>
                        <div class="contact-username"> Alex Dolgove</div>
                    </a>
                    <a href="chats-friend.html">
                        <div class="contact-avatar">
                            <img src="{% static 'assets/images/avatars/avatar-8.jpg' %}" alt="">
                        </div>
                        <div class="contact-username"> Dennis Han</div>
                    </a>
                </div>

                <div class="p-1">
                    <a href="chats-group.html">
                        <div class="contact-avatar">
                            <img src="{% static 'assets/images/avatars/avatar-7.jpg' %}" alt="">
                        </div>
                        <div class="contact-username"> Alex Dolgove</div>
                    </a>
                </div>

            </div>
        </div>
    </div>

    


    <script>
        var loadFile = function(event){
            var output2 = document.getElementById("preview_post_thumbnail")
            output2.src = URL.createObjectURL(event.target.files[0])
            output2.onload = function(){
                URL.createObjectURL(output2.src)
            }
        }
    </script>
{% endblock %}