{% extends "partials/base.html" %}
{% load static %}
{% load widget_tweaks  %}

{% block content %}

        <!-- Main Contents -->
        <div class="main_content">
            <div class="mcontainer">

                <!--  breadcrumb -->
                <div class="breadcrumb-area py-0">
                    <div class="breadcrumb">
                        <ul class="m-0">
                            <li>
                                <a href="{% url "core:group_inbox" %}">Group Messages</a>
                            </li>
                            <li class="active">
                                <a href="#">Create New Group Chat </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- create page-->
                <div class="max-w-2xl m-auto shadow-md rounded-md bg-white lg:mt-20">  
 
                    <!-- form header -->
                    <div class="text-center border-b border-gray-100 py-6">
                        <h3 class="font-bold text-xl"> Create New Group Chat </h3>
                    </div>

                    <!-- form body -->
                    {{form.errors}}
                    <form method="POST" action="{% url 'core:create-groupchat' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="p-10 space-y-7">
                            <div class="line">
                                <input class="line__input" id="groupchat-caption" name="groupchat-caption" type="text" onkeyup="this.setAttribute('value', this.value);" value="" autocomplete="off">
                                <span for="username" class="line__placeholder"> Groupchat Name </span>
                            </div>
                            
                            <div class="line h-32"> 
                                <textarea class="line__input h-32"  id="groupchat-description" name="groupchat-description" type="text" onkeyup="this.setAttribute('value', this.value);" value="" autocomplete="off"></textarea>
                                <span for="username" class="line__placeholder"> Groupchat description </span> 
                            </div>

                            <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                <!-- Group Image -->
                                <div class="bg-gray-100 p-4  flex items-center" style="border-radius: 10px;">
                                    <div class="relative">
                                        <img src="{% static 'assets/images/group/noimage.gif' %}" id="preview_avatar" alt="Group Image" class="w-24 h-24 rounded-full">
                                        <label for="groupchat-thumbnail" class="absolute bottom-0 right-0 p-2 bg-white rounded-full cursor-pointer">
                                            <i class="fas fa-pen text-blue-500"></i>
                                        </label>
                                    </div>
                                </div>

                                <input type="file" name="groupchat-thumbnail" id="groupchat-thumbnail" onchange="loadFile(event)" style="display: none;">
                                <script>
                                    var loadFile = function (event) {
                                      var output2 = document.getElementById("preview_avatar");
                                      output2.src = URL.createObjectURL(event.target.files[0]);
                                      output2.onload = function () {
                                        URL.revokeObjectURL(output2.src); // free memory
                                      };
                                    };
                                </script>
                            </div>
                        </div>
                        
                        <!-- form footer -->
                        <div class="flex justify-center border-gray-100 py-8">
                            <button type="submit" class="button lg:w-1/3">
                                Create
                            </button>
                        </div>
                        
                    </form>
                </div>

            </div>
        </div>
        
    </div>



    
    <!-- open chat box -->
    {% include "partials/chats_dropdown.html" %}    
    <!-- open chat box -->

    
{% endblock content %}
