{% extends 'partials/base.html' %}
{% load static %}

{% block content %}

    <!-- Main Contents -->
    <div class="main_content">

        <span uk-toggle="target: .message-content;" class="fixed left-0 top-36 bg-red-600 z-10 py-1 px-4 rounded-r-3xl text-white"> Users</span>

        <div class="messages-container">
            <div class="messages-container-inner">


                <div class="messages-inbox">
                    <div class="messages-headline">
                        <div class="input-with-icon" hidden>
                            <input id="autocomplete-input" type="text" placeholder="Search">
                            <i class="icon-material-outline-search"></i>
                        </div>
                        <h2 class="text-2xl font-semibold">Chats</h2>
                        <a href="{% url 'core:create-groupchat' %}" class="absolute icon-feather-edit mr-4 text-xl uk-position-center-right cursor-pointer"></a>
                    </div>
                    <div class="messages-inbox-inner" data-simplebar>
                        <ul>
                            
                            {% for message in groupchat %}
                                <li>
                                    <a href="{% url 'core:group_inbox_detail' message.slug %}">
                                        <div class="message-avatar"><i class="status-icon status-online"></i><img src="{{message.images.url}}" alt=""></div>

                                        <div class="message-by">
                                            <div class="message-by-headline">
                                                <h5>{{message.name}}</h5>
                                            </div>
                                            <p>{{message.last_message.message|truncatechars:40}}</p>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>


                <div class="message-content">

                    <div class="messages-headline">
                        <h4> All My Group Chats </h4>
                    </div>

                    <div class="message-content-scrolbar" data-simplebar>
                        <div class="message-content-inner">
                            <div class="card md:p-6 p-2 max-w-3xl mx-auto">
                                <div class="grid md:grid-cols-2  grid-cols-2 gap-x-2 gap-y-4 mt-3">
                                    
                                    {% for message in groupchat %}
                                        <div class="flex items-center flex-col md:flex-row justify-center p-4 rounded-md shadow hover:shadow-md md:space-x-4">
                                            <a href="timeline-group.html" iv="" class="w-16 h-16 flex-shrink-0 overflow-hidden rounded-full relative">
                                                <img src="{{message.images.url}}" class="absolute w-full h-full inset-0 " alt="">
                                            </a>
                                            <div class="flex-4">
                                                <a href="timeline-page.html" class="text-base font-semibold capitalize">{{message.name}} </a>
                                                <div class="text-sm text-gray-500"> {{message.members.all.count}} Members</div>
                                            </div>
                                            <a href="{% url 'core:group_inbox_detail' message.slug %}" class="bg-blue-500 text-white text-center font-semibold py-2 px-3 rounded-md text-sm md:mt-0 mt-3">Join Conversation</a>
                                        </div>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- open chat box -->
    {% include "partials/chats_dropdown.html" %}
    <!-- open chat box end-->

    {% endblock content %}
