{% extends "partials/base.html" %}
{% load static %}

{% block content %}

        <!-- Main Contents -->
        <div class="main_content">

            <span uk-toggle="target: .message-content;" class="fixed left-0 top-36 bg-red-600 z-10 py-1 px-4 rounded-r-3xl text-white"> Users</span>

            <div class="messages-container">
                <div class="messages-container-inner">


                    <div class="messages-inbox">
                        <div class="messages-headline">
                            <div class="input-with-icon" hidden>
                                <input id="autocomplete-input" type="text" placeholder="Search">
                                <i class="icon-material-outline-search"></i>
                            </div>
                            <h2 class="text-2xl font-semibold">Chats</h2>
                            <span class="absolute icon-feather-edit mr-4 text-xl uk-position-center-right cursor-pointer"></span>
                        </div>
                        <div class="messages-inbox-inner" data-simplebar>
                            <ul>
                                {% for message in chat_message %}
                                    {% if request.user == message.sender %}
                                        <li>
                                            <a href="{% url "core:inbox_detail" message.receiver.username %}">
                                                <div class="message-avatar"><i class="status-icon status-online"></i><img src="{{ message.receiver.profile.image.url }}" alt=""></div>

                                                <div class="message-by">
                                                    <div class="message-by-headline">
                                                        <h5>{{ message.receiver.profile.full_name }}</h5>
                                                        <span style="font-size:12px"> <small>{{ message.date|timesince }} ago</small></span>
                                                    </div>
                                                    <p>{{ message.message }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endif %}
                                  
                                    {% if request.user == message.receiver %}
                                        <li>
                                            <a href="{% url "core:inbox_detail" message.sender.username %}">
                                                <div class="message-avatar"><i class="status-icon status-online"></i><img src="{{ message.sender.profile.image.url }}" alt=""></div>

                                                <div class="message-by">
                                                    <div class="message-by-headline">
                                                        <h5>{{ message.sender.profile.full_name }}</h5>
                                                        <span style="font-size:12px"> <small>{{ message.date|timesince }} ago</small></span>
                                                    </div>
                                                    <p>{{ message.message }}</p>
                                                </div>
                                            </a>
                                        </li>
                                    {% endif %}

                                {% empty %}
                                    <li>
                                        <a href="#">

                                            <div class="message-by">
                                                <div class="message-by-headline">
                                                    <h5>No messages yet</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </div>


                    <div class="message-content">

                        <div class="messages-headline">
                            <h4> Start a new conversation </h4>
                            <a href="#" class="message-action text-red-500"><i class="icon-feather-trash-2"></i> <span class="md:inline hidden"> Delete Conversation</span> </a>
                        </div>

                        <div class="message-content-scrolbar" data-simplebar>

                            <!-- Message Content Inner -->
                            <div class="message-content-inner">

                                
                            </div>
                            <!-- Message Content Inner / End -->

                            <!-- Reply Area -->
                            <div class="message-reply">
                                <textarea cols="1" rows="1" placeholder="Your Message"></textarea>
                                <button class="button ripple-effect">Send</button>
                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>



    <!-- open chat box -->
    {% include "partials/chats_dropdown.html" %}
    <!-- open chat box end-->


    
{% endblock content %}
